
*.dll
WebAPI-Bootcamp/WebAPI/.vs/WebAPI/v17/.suo
*.v1
*.json
WebAPI-Bootcamp/WebAPI/.vs/WebAPI/v17/.suo
*.v2
*.editorconfig
*.cache
.\EjerciciosClase3y4\Ejercicio1\.vs\*
.\EjerciciosClase3y4\Ejercicio1\bin\*
.\EjerciciosClase3y4\Ejercicio1\obj\*
*.editorconfig
EjerciciosClase3y4/.vs/EjerciciosClase3y4/v17/.suo
EjerciciosClase3y4/Ejercicio1/bin/Debug/net6.0/Ejercicio1.exe
